# Build directories
build/
bin/
*.pro.user
*.pro.user.*

# Qt specific
*.qbs.user
*.qbs.user.*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Qt Creator
*.qmlproject.user
*.qmlproject.user.*

# Visual Studio
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# CLion
.idea/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msp
*.msm

# SQLite database
*.db
*.sqlite

# Log files
*.log

# Temporary files
*~
*.tmp
*.temp